{% extends "layout.html" %}
{% block content %}
    {% for product in products %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static',filename='profile_pics/'+product.seller.image_file) }}">

        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ product.seller.username }}</a>
                <small class="text-muted">{{ product.date_added.strftime('%Y-%m-%d') }}</small>
            </div>

            <h2><a class="article-title" href="{{ url_for('product',product_id=product.id) }}">{{ product.name }}: {{ product.quantity }} left</a></h2>
            <img height="300"  src="{{ url_for('static',filename='profile_pics/' +product.image_file) }}">
            <p class="article-content">{{ product.description }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}